{% load static %}
{% load samurai_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'samurai/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
{% for m in menu %}
    <a href="{% url m.url_name %}">{{ m.title }}</a>{% if not forloop.last %} | {% endif %}
{% endfor %}
<br>
<br>
{% show_categories cat_selected %}
{% block content%} {% endblock %}
{% show_all_tags %}
</body>
</html>